/* custom.css */

.navbar {
    background-color: rgb(255, 232, 189) !important;
}

/* Add lines to navbar options when hovering */
.navbar-nav .nav-link {
    position: relative;
    padding-bottom: 5px;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* Font colors for navbar options */
.navbar-nav .nav-link {
    color: rgb(0, 0, 0); /* Default font color */
}

/* Font color when hovering */
.navbar-nav .nav-link:hover {
    color: orange; /* Font color on hover */
}

